/* Shared Styles */
*{
    font-family: 'Work Sans', sans-serif;
   
    
}
.primary-color{
    color: #FF42A5;



}

    

/* Navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 1rem 10rem;
   
   

}
.nav-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

}
.nav-title img{
    height: 1.20rem;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color:  #3C354F;
}
nav ul{
    display: flex;
   
}
.fa-youtube{
    color: red;
}
.follow-us{
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    text-align:center;
    padding: 1rem;
    height: 2rem;
    width:5rem ;
}

/* ---Banner Styles--- */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-image img{
    height: 30.6rem;
    width: 30rem;
    
}
.banner-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
   
}
.btn-primary{
    border-radius: 43px;
    height: 35px;
    width: 90px;
    background-color: #FF42A5;
    color: #FFF;
    border: none;
}
.btn-rogue{
    border-radius: 43px;
    height: 35px;
    width: 100px;
    background-color: #4EC5F7;
    color: #FFF;
    border: none;

}
/* ---funny-videos-style--- */
.funny-videos{
    padding: 1rem 10rem;
}
.funny-videos-content{
    text-align: center;
}
.funny-videos-title{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;


}
.funny-videos-description{
    color: #534C64;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;

}
.img-container{
    display: flex;
    justify-content: space-around;
    
    
}
.img-container.card p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    
    
}
.card img{
    height: 15rem;
    
    
}
.img-container img:hover{
    border: 4px #FF42A5 solid;
    border-radius: 1rem;
    
    
    
    
}

/* ---Responsive layout--- */

@media  screen and (max-width:576px) {
    header{
        padding: 0 2rem;
        
    }
    nav{
        flex-direction: column;
        height: min-content;
        width: 70%;
        box-shadow: none;

        
    
        
        
    }
    nav ul{
        flex-direction: column;

    }
    nav li{
        margin-top: 2rem;
        text-align: center;

    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0.25rem;
        

        
    }
    .banner-image img{
        margin-left: 0;
        height: 100%;
        margin-bottom:1rem ;
    }
    .banner-content{
        height: max-content;
        width: 30rem;
        padding: 0.5rem;
        background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
        text-align: center;


    }
    /* ---Funny Videos Responsive */
    .funny-videos{
        padding: 0;
        text-align: center;
        width: 120%;
    }
    .img-container{
        flex-direction: column;
    }
}